@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-weight: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

footer.micawber{
	text-align: left;
}

*[epub|type~="se:letter:dateline"]{
	text-align: right;
}

abbr.initialism{
	font-variant: all-small-caps;
}

.signature,
b,
strong{
	font-variant: small-caps;
}

*[epub|type~="z3998:letter"],
article{
	margin: 1em;
}

article header{
	text-align: center;
	font-variant: small-caps;
}

article header p:first-child{
	font-size: 1.5em;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

*[epub|type~="z3998:letter"] + p,
article + p,
p[epub|type~="z3998:salutation"]{
	text-indent: 0;
}

.i1{
	text-indent: 2em;
}

.i2{
	text-indent: 4em;
}

.i3{
	text-indent: 6em;
}

.i4{
	text-indent: 8em;
}

.i6{
	text-indent: 10em;
}

section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] p{
	margin: 25% auto;
	text-align: center;
	text-indent: 0;
}
