@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

ul{
	list-style: none;
	padding: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

footer.micawber{
	text-align: left;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

blockquote header{
	font-variant: small-caps;
}

p[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
}

[epub|type~="z3998:letter"] + p,
[epub|type~="z3998:diary"] + p,
p[epub|type~="z3998:salutation"],
[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

p.i1{
	text-indent: 2em;
}

p.i2{
	text-indent: 4em;
}

p.i3{
	text-indent: 6em;
}

p.i4{
	text-indent: 8em;
}

p.i5{
	text-indent: 10em;
}

p.i6{
	text-indent: 12em;
}

section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] p{
	margin: 25% auto;
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:song"],
[epub|type~="z3998:verse"]{
	margin: 1em;
}

[epub|type~="z3998:song"] + p,
[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
